* {font-family: 'Roboto', sans-serif;}
td {text-align: center;}
th {text-align: center;}
.realm_Midgard {
  color: blue;
}
.realm_Hibernia {
  color: green;
}
.realm_Albion {
  color: red;
}

td.linkable {
    cursor: pointer;
}

body {
  margin: 0px;
  padding: 0px;
}

#holder {
  background-image: url('/static/Frontier_map.jpg');
  background-repeat: no-repeat;
}
