<html>
  <head>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-91056124-1', 'auto');ga('send', 'pageview');
  </script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
      <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});

        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
        {% for chart in charts %}
          var data = google.visualization.arrayToDataTable([
            ['Class', '# Observed'],
            {% for row in chart.data %}
              {{row|safe}},
            {% endfor %}
          ]);
          var options = {
            chart: {
              title: "{{chart.title}}",
            },
            bars: 'vertical',
            vAxis: {slantedTextAngle: 90},
          };
          //var options ={ hAxis: {title: "Years" , direction:-1, slantedText:true, slantedTextAngle:90 }}

          var chart = new google.charts.Bar(document.getElementById('{{chart.element_id}}'));
          chart.draw(data, options);
        {% endfor %}
        }
      
    </script>
  </head>
<body>
  {% include "navbar.html" %}
  <title>RP Custom Leaderboard</title>
Class
<select id="classpick">
  <option value="Any">Any</option>
  {% for c in classes %}
  <option value="{{c}}">{{c}}</option>
  {% endfor %}
</select>


Race
<select id="racepick">
  <option value="Any">Any</option>
  {% for c in races %}
  <option value="{{c}}">{{c}}</option>
  {% endfor %}
</select>

Min level
<input type="number" id="minlevel" value="1"></input>
Min rps
<input type="number" id="minrps" value="0"></input>

Guild name
<input id="guildname"></input>

<button id="gobut">Create Leaderboard</button>

<script>
$(document).ready(function() {
  $('#gobut').click(function() {
    sel_class = $('#classpick')[0].value
    sel_race = $('#racepick')[0].value
    sel_guild = $('#guildname')[0].value
    minlevel = $('#minlevel')[0].value
    minrps = $('#minrps')[0].value

    args = "?minlevel=" + minlevel + "&"
    if (sel_class != 'Any') {
      args = args + 'class=' + sel_class + '&'
    }

    if (sel_race != 'Any') {
      args = args + 'race=' + sel_race + '&'
    }

    if (sel_guild != '') {
      args = args + 'guild=' + sel_guild + '&'
    }

    args = args + "minrps=" + minrps

    window.open('http://uthgard.riftmetric.com/custom_leaders/' + args)
  })
})
</script>
</body>
</html>
