{% load humanize %}
<html>
<head>
  {% include 'head.html' %}
    <title>Guild RP Leaderboard</title>
</head>


<body>
    {% include "navbar.html" %}
    <title>RP Leaderboard</title>
    <div class="container">
    <h1>RP Leaderboard {% if realm %}{{realm}}{%endif%}</h1>
    <h3><a href="{% url 'weekly_guild' %}">Last 7 days</a></h3>
    <div class="col-md-8 col-md-offset-2">
      <table id="eader" class="table table-striped">
        <thead>
          <th>#</th>
          <th>Guild</th>
          <th>Realm</th>
          <th>RPs</th>
          <th># of Players</th>
        </thead>
        <tbody>
          {% for g in guilds %}
          <tr>
            <td>{{g.rank}}</td>
            <td>{{g.guildname}}</td>
            <td class="realm_{{g.realmname}}">{{g.realmname}}</td>
            <td>{{g.rps|intcomma}}</td>
            <td>{{g.size}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
