{% load tz %}
{% load humanize %}

<html>
<head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-91056124-1', 'auto');ga('send', 'pageview');
</script>
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<style>
* {font-family: 'Roboto', sans-serif;}
td {text-align: center;}
th {text-align: center;}
.realm_Midgard {
  color: blue;
}
.realm_Hibernia {
  color: green;
}
.realm_Albion {
  color: red;
}
</style>

<body>
    {% include "navbar.html" %}
    <title>RP Leaderboard</title>
    <div class="container">
    <h1>RP Leaderboard {% if realm %}{{realm}}{%endif%}</h1>
    <h4>data by Armsperson</h4>
    <div class="col-md-8 col-md-offset-2">
      <table id="eader" class="table table-striped">
        <thead>
          <th>#</th>
          <th>Guild</th>
          <th>Realm</th>
          <th>RPs</th>
          <th># of Players</th>
        </thead>
        <tbody>
          {% for g in guilds %}
          <tr>
            <td>{{g.rank}}</td>
            <td>{{g.guildname}}</td>
            <td class="realm_{{g.realmname}}">{{g.realmname}}</td>
            <td>{{g.rps|intcomma}}</td>
            <td>{{g.size}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <h3> Want to add data? Record /chatlog with /who data and submit to armsperson@gmail.com</h3>
    </div>
  </div>
</body>
</html>
