{% load humanize %}
<html>
  <head>
    {% include 'head.html' %}
  <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
  <script type='text/javascript'>
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'RPs');
        data.addRows([
          {% for d in data %}
          [new Date(Date.UTC({{d.lastupdated.year}}, {{d.lastupdated.month}}-1 ,{{d.lastupdated.day}}, {{d.lastupdated.hour}}, {{d.lastupdated.minute}}, {{d.lastupdated.second}})), {{d.rps}}],
          {% endfor %}
        ]);
        var options = {
        chart: {
            title: 'Realm Points Earned - Last 7 Days',
          },
        };
        var chart = new google.charts.Line(document.getElementById('linechart_material'));
        chart.draw(data, options);
      }
    </script>
    <title>Player History</title>
  </head>

  <body>
    {% include "navbar.html" %}
    <div class="col-md-10 col-md-offset-1">
      <table id="eader" class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Realm</th>
          <th>Guild</th>
          <th>Level</th>
          <th>Race</th>
          <th>Class</th>
          <th>RPs</th>
          <th>RealmRank</th>
        </thead>
        <tbody>
          <tr>
            <td>{{data.0.rawname}}</td>
            <td class="realm_{{data.0.realmname}}">{{data.0.realmname}}</td>
            <td>{% if data.0.guildname %}{{data.0.guildname}}{% else %}<i>No Guild</i>{% endif %}</td>
            <td>{{data.0.level}}</td>
            <td>{{data.0.racename}}</td>
            <td>{{data.0.classname}}</td>
            <td>{{data.0.rps|intcomma}}</td>
            <td>{{data.0.realmrank}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div id='linechart_material' width="100%"></div>
    </div>
  </body>
</html>