{% load humanize %}
<html>
<head>
  {% include 'head.html' %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Realm', 'RPs gained last 7 days'],
          ['Midgard', {{mid_7.total_rps}}],
          ['Albion', {{alb_7.total_rps}}],
          ['Hibernia', {{hib_7.total_rps}}],
        ]);
        var options = {
          title: 'RPs gained last 7 days',
          titleTextStyle: {fontSize: 22},
          colors: ['blue','red','green'],
          legend: {position: 'none'},
          chartArea: {width: 800, height: 500}
        };
        var chart = new google.visualization.PieChart(document.getElementById('pie_7'));
        chart.draw(data, options);

        var data = google.visualization.arrayToDataTable([
          ['Realm', 'RPs Total'],
          ['Midgard', {{mid.total_rps}}],
          ['Albion', {{alb.total_rps}}],
          ['Hibernia', {{hib.total_rps}}],
        ]);
        var options = {
          title: 'RPs total',
          titleTextStyle: {fontSize: 22},
          colors: ['blue','red','green'],
          chartArea: {width: '80%', height: '60%'}
        };
        var chart = new google.visualization.PieChart(document.getElementById('pie_all'));
        chart.draw(data, options);
      }
    </script>
    <title>RP Leaderboard</title>
</head>

<body>
    {% include "navbar.html" %}
    <title>RP Leaderboard</title>
    <div class="container">
    <h1>RPs per Realm</h1>
    <div class="col-md-6">
      <div id="pie_7"></div>
    </div>
    <div class="col-md-6">
      <div id="pie_all"></div>
    </div>
  </div>
</body>
</html>
