
<script>
function goSearch() {
  window.open('http://uthgard.riftmetric.com/history/' + $('#searchid').val())
}
</script>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{% if not realm %}active{% endif %}"><a href="{% url 'leaders_all' %}">All</a></li>
        <li class="{% if realm == 'by Guild' %}active{% endif %}"><a href="{% url 'guilds' %}">Guild</a></li>
        <li class="{% if realm == 'Albion' %}active{% endif %}"><a href="{% url 'leaders' 'Albion' %}">Albion</a></li>
        <li class="{% if realm == 'Hibernia' %}active{% endif %}"><a href="{% url 'leaders' 'Hibernia' %}">Hibernia</a></li>
        <li class="{% if realm == 'Midgard' %}active{% endif %}"><a href="{% url 'leaders' 'Midgard' %}">Midgard</a></li>
        <li class="{% if realm == 'classes' %}active{% endif %}"><a href="{% url 'by_class' %}">By Class</a></li>
        <li class="{% if realm == 'Distribution' %}active{% endif %}"><a href="{% url 'charts' %}">Distribution</a></li>
        <li class="{% if realm == 'realmwar' %}active{% endif %}"><a href="{% url 'realmwar' %}">Realm War</a></li>
        <li class="{% if realm == 'custom' %}active{% endif %}"><a href="{% url 'create_custom' %}">Custom</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><input id="searchid"></input></li>
        <li><button onclick="goSearch()">Search</button></list>
        <!--<li><a href="#">Timestamp of most recent data: {{timestamp}} UTC</a></li> -->
      </ul>
      </div>
  </div>
</nav>
