{% load humanize %}
<html>
<head>
  {% include 'head.html' %}
    <title>Realm War</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
    <h1>Realm War [BETA]</h1>
    <div>
      Darkness Falls:
      <span class="realm_{{df.owner}}">{{df.owner}}</span>
      {% if df.lastupdated %} taken {{df.lastupdated}} UTC{% endif %}
    </div>
    {% for r in realm_keeps %}
    <div class="col-md-4">
      <h3 class="realm_{{r.realm}}" style="text-align: center">{{r.realm}}</h3>
      <table id="leader" class="table table-striped">
        <thead>
          <th>Keep</th>
          <th>Owner</th>
          <!--<th>Taken</th>-->
        </thead>
        <tbody>
          {% for k in r.keeps %}
          <tr>
            <td>{{k.name}}</td>
            <td class="realm_{{k.owner}}">{{k.owner}}</td>
            <!--<td><i>Unknown</i></td>-->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
    <div class="col-md-12">Report errors on this page to Armsperson@gmail.com</div>
  </div>
</body>
</html>
