{% load humanize %}
{% load static %}
<html>
<head>
<title>Realm War: 2001</title>
{% include 'head.html' %}
  </head>

 <body>
   {% include 'navbar.html' %}
   <div class="container">
<h1>Realm War</h1>
<div class="col-md-12">
  <h4>Darkness Falls:
  <span class="realm_{{df.owner}}">{{df.owner}}</span>
  </h4>
  <p>{% if df.lastupdated %} taken {{df.lastupdated}} UTC{% endif %}</p>
</div>

<div class="col-md-6">
  <div id="holder" style="width: 522; height: 522"></div>
</div>

{% for r in realm_keeps %}
<div class="col-md-3">
  <h3 class="realm_{{r.realm}}" style="text-align: center">{{r.realm}}</h3>
  <table id="leader" class="table table-striped">
    <thead>
      <th>Keep</th>
      <th>Owner</th>
    </thead>
    <tbody>
      {% for k in r.keeps %}
      <tr>
        <td>{{k.name}}</td>
        <td class="realm_{{k.owner}}">{{k.owner}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}

<script>
// THE ORDER OF ELEMENTS IN THIS ARRAY
// DETERMINES THE LAYERING OF THE MOUSEOVER
keep_data = [
  {name: "Caer Renaris",index: 1,
    owner: "-",folder: "ALB",
    width: 89, height: 47,
    xloc: 275,yloc: 432},
  {name: "Caer Berkstead",index: 2,
    owner: "-",folder: "ALB",
    width: 84, height: 55,
    xloc: 268,yloc: 395},
  {name: "Caer Boldiam",index: 4,
    owner: "-",folder: "ALB",
    width: 61, height: 57,
    xloc: 340,yloc: 375},
  {name: "Caer Erasleigh",index: 5,
    owner: "-",folder: "ALB",
    width: 56, height: 37,
    xloc: 340,yloc: 350},
  {name: "Caer Benowyc",index: 6,
    owner: "-",folder: "ALB",
    width: 114, height: 54,
    xloc: 382,yloc: 324},
  {name: "Caer Hurbury",index: 7,
    owner: "-",folder: "ALB",
    width: 52, height: 55,
    xloc: 266,yloc: 322},
  {name: "Caer Sursbrooke",index: 3,
    owner: "-",folder: "ALB",
    width: 70, height: 46,
    xloc: 276,yloc: 359},
  {name: "Arvakr Faste",index: 1,
    owner: "-",folder: "MID",
    width: 83, height: 37,
    xloc: 354,yloc: 153},
  {name: "Hlidskialf Faste",index: 2,
    owner: "-",folder: "MID",
    width: 63, height: 51,
    xloc: 340,yloc: 122},
  {name: "Glenlock Faste",index: 3,
    owner: "-",folder: "MID",
    width: 54, height: 56,
    xloc: 378,yloc: 106},
  {name: "Blendrake Faste",index: 4,
    owner: "-",folder: "MID",
    width: 57, height: 55,
    xloc: 378,yloc: 58},
  {name: "Bledmeer Faste",index: 6,
    owner: "-",folder: "MID",
    width: 53, height: 74,
    xloc: 310,yloc: 36},
  {name: "Nottmoor Faste",index: 5,
    owner: "-",folder: "MID",
    width: 47, height: 54,
    xloc: 348,yloc: 81},
  {name: "Fensalir Faste",index: 7,
    owner: "-",folder: "MID",
    width: 59, height: 53,
    xloc: 419,yloc: 115},
  {name: "Dun Scathaig",index: 1,
    owner: "-",folder: "HIB",
    width: 77, height: 56,
    xloc: 134,yloc: 192},
  {name: "Dun da Behnn",index: 2,
    owner: "-",folder: "HIB",
    width: 91, height: 36,
    xloc: 154,yloc: 162},
  {name: "Dun na nGed",index: 3,
    owner: "-",folder: "HIB",
    width: 71, height: 35,
    xloc: 106,yloc: 160},
  {name: "Dun Crimthainn",index: 4,
    owner: "-",folder: "HIB",
    width: 73, height: 48,
    xloc: 141,yloc: 129},
  {name: "Dun Bolg",index: 5,
    owner: "-",folder: "HIB",
    width: 50, height: 55,
    xloc: 105,yloc: 115},
  {name: "Dun Crauchon",index: 6,
    owner: "-",folder: "HIB",
    width: 52, height: 93,
    xloc: 126,yloc: 36},
  {name: "Dun Ailinne",index: 7,
    owner: "-",folder: "HIB",
    width: 53, height: 49,
    xloc: 67,yloc: 145},
]

$.getJSON('/realmwarjson', function(data) {
    for (i = 0; i < data.all_keeps.length; i++) {
      for (j = 0; j < keep_data.length; j++) {
        if (data.all_keeps[i].name == keep_data[j].name) {
          keep_data[j].owner = data.all_keeps[i].owner;
          break;
        }
      }
    }
    Raphael(function () {
      var r = Raphael("holder", 532, 532);
      for (i = 0; i < 21; i++) {
        render_keep_segment(r, keep_data[i])
      }
    });
});
real_name = function(n) {
  if (n=="hib") return "Hibernia";
  if (n=="mid") return "Midgard";
  if (n=="alb") return "Albion";
}
fol_name = function(n) {
  if (n=="Albion") return "alb";
  if (n=="Hibernia") return "hib";
  if (n=="Midgard") return "mid";
}
render_keep_segment = function(r, item) {
  item.img_ref = new Image();
  item.img_ref.src = "/static/" + item.folder+"/"+fol_name(item.owner)+"/"+item.folder.toLowerCase()+"_0"+item.index+"_"+item.folder+".gif";
  item.raf_ref = r.image(
    item.img_ref.src,
    item.xloc-10,
    item.yloc-10,
    item.width,
    item.height
  );
  item.raf_ref.mouseover(function(){
    $('#keep_name').html(item.name);
    $('#keep_owner').html(real_name(item.owner));
    $('#keep_time').html(item.time);
  });
  return item.raf_ref;
}
</script>
</body>
</html>
