{% load humanize %}
{% load static %}
<html>
<head>
<title>Realm War: 2001</title>
<style type="text/css">
  body {
    margin: 0px;
    padding: 0px;
  }
  #holder {
    background-image: url('/static/Frontier_map.jpg');
    background-repeat: no-repeat;
  }
</style>
 <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  </head>
 <body>
   <nav class="navbar navbar-default navbar-static-top">
     <div class="container">
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li class=""><a href="leaders.html">All</a></li>
           <li class=""><a href="guilds.html">Guild</a></li>
           <li class=""><a href="leaders_alb.html">Albion</a></li>
           <li class=""><a href="leaders_hib.html">Hibernia</a></li>
           <li class=""><a href="leaders_mid.html">Midgard</a></li>
           <li class=""><a href="classes.html">By Class</a></li>
           <li class=""><a href="charts.html">Distribution</a></li>
           <li class="active"><a href="realmwar.html">Realm War</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li><a href="#">Timestamp of most recent data: None UTC</a></li>
         </ul>
         </div>
     </div>
   </nav>

   <div class="container">
<h1>Realm War: 2001 (beta)</h1>
<h4>data by Armsperson</h4>
<div>
  Darkness Falls:
  <span class="realm_Midgard">UNKNOWN</span>
   taken UNKNOWN
</div>

<div class="col-md-offset-1 col-md-6">
  <div id="holder" style="width: 522; height: 522"></div>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
  <div id="keep_name" class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Owned by <p id="keep_owner"></p>
  </div>
</div>

<script>
// THE ORDER OF ELEMENTS IN THIS ARRAY
// DETERMINES THE LAYERING OF THE MOUSEOVER
keep_data = [
  {name: "Caer Renaris",index: 1,
    owner: "-",folder: "ALB",
    width: 89, height: 47,
    xloc: 275,yloc: 432},
  {name: "Caer Berkstead",index: 2,
    owner: "-",folder: "ALB",
    width: 84, height: 55,
    xloc: 268,yloc: 395},
  {name: "Caer Boldiam",index: 4,
    owner: "-",folder: "ALB",
    width: 61, height: 57,
    xloc: 340,yloc: 375},
  {name: "Caer Erasleigh",index: 5,
    owner: "-",folder: "ALB",
    width: 56, height: 37,
    xloc: 340,yloc: 350},
  {name: "Caer Benowyc",index: 6,
    owner: "-",folder: "ALB",
    width: 114, height: 54,
    xloc: 382,yloc: 324},
  {name: "Caer Hurbury",index: 7,
    owner: "-",folder: "ALB",
    width: 52, height: 55,
    xloc: 266,yloc: 322},
  {name: "Caer Sursbrooke",index: 3,
    owner: "-",folder: "ALB",
    width: 70, height: 46,
    xloc: 276,yloc: 359},
  {name: "Arvakr Faste",index: 1,
    owner: "-",folder: "MID",
    width: 83, height: 37,
    xloc: 354,yloc: 153},
  {name: "Hlidskialf Faste",index: 2,
    owner: "-",folder: "MID",
    width: 63, height: 51,
    xloc: 340,yloc: 122},
  {name: "Glenlock Faste",index: 3,
    owner: "-",folder: "MID",
    width: 54, height: 56,
    xloc: 378,yloc: 106},
  {name: "Blendrake Faste",index: 4,
    owner: "-",folder: "MID",
    width: 57, height: 55,
    xloc: 378,yloc: 58},
  {name: "Bledmeer Faste",index: 6,
    owner: "-",folder: "MID",
    width: 53, height: 74,
    xloc: 310,yloc: 36},
  {name: "Nottmoor Faste",index: 5,
    owner: "-",folder: "MID",
    width: 47, height: 54,
    xloc: 348,yloc: 81},
  {name: "Fensalir Faste",index: 7,
    owner: "-",folder: "MID",
    width: 59, height: 53,
    xloc: 419,yloc: 115},
  {name: "Dun Scathaig",index: 1,
    owner: "-",folder: "HIB",
    width: 77, height: 56,
    xloc: 134,yloc: 192},
  {name: "Dun da Behnn",index: 2,
    owner: "-",folder: "HIB",
    width: 91, height: 36,
    xloc: 154,yloc: 162},
  {name: "Dun na nGed",index: 3,
    owner: "-",folder: "HIB",
    width: 71, height: 35,
    xloc: 106,yloc: 160},
  {name: "Dun Crimthainn",index: 4,
    owner: "-",folder: "HIB",
    width: 73, height: 48,
    xloc: 141,yloc: 129},
  {name: "Dun Bolg",index: 5,
    owner: "-",folder: "HIB",
    width: 50, height: 55,
    xloc: 105,yloc: 115},
  {name: "Dun Crauchon",index: 6,
    owner: "-",folder: "HIB",
    width: 52, height: 93,
    xloc: 126,yloc: 36},
  {name: "Dun Ailinne",index: 7,
    owner: "-",folder: "HIB",
    width: 53, height: 49,
    xloc: 67,yloc: 145},
]

$.getJSON('http://uthgard.riftmetric.com/realmwarjson', function(data) {
    for (i = 0; i < data.all_keeps.length; i++) {
      for (j = 0; j < keep_data.length; j++) {
        if (data.all_keeps[i].name == keep_data[j].name) {
          keep_data[j].owner = data.all_keeps[i].owner;
          break;
        }
      }
    }
    Raphael(function () {
      var r = Raphael("holder", 532, 532);
      for (i = 0; i < 21; i++) {
        render_keep_segment(r, keep_data[i])
      }
    });
});
real_name = function(n) {
  if (n=="hib") return "Hibernia";
  if (n=="mid") return "Midgard";
  if (n=="alb") return "Albion";
}
fol_name = function(n) {
  if (n=="Albion") return "alb";
  if (n=="Hibernia") return "hib";
  if (n=="Midgard") return "mid";
}
render_keep_segment = function(r, item) {
  item.img_ref = new Image();
  item.img_ref.src = "/static/" + item.folder+"/"+fol_name(item.owner)+"/"+item.folder.toLowerCase()+"_0"+item.index+"_"+item.folder+".gif";
  item.raf_ref = r.image(
    item.img_ref.src,
    item.xloc-10,
    item.yloc-10,
    item.width,
    item.height
  );
  item.raf_ref.mouseover(function(){
    $('#keep_name').html(item.name);
    $('#keep_owner').html(real_name(item.owner));
    $('#keep_time').html(item.time);
  });
  return item.raf_ref;
}
</script>
</body>
</html>
